input[class="search_input"] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    /*background-image: url(../img/searchicon.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;*/
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/*search_input_button*/
input[class="search_input_button"] {
    
    padding: 0px 0px 0px 0px;
    width: 40px;
    height:40px;
    margin-top:3px;
    margin-left:3px;
    color: transparent;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-image: url(../img/searchicon.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    cursor:pointer;
}
input[class="search_input"]:focus {
   /* width: 100%; */
}